# App
PORT=3333
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=verde_db
DB_USER=root
DB_PASSWORD=

# JWT
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=7d

# Upload
UPLOAD_DIR=./uploads

# Socket.IO
CORS_ORIGIN=http://localhost:3000
